# 4. Sets

Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.

Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [3]:
# update, remove, union, intersection
# it updates by iterating over an object

In [14]:
s = {2, 3, 5, 5, 5, 3, 32, 7, 4356, 43556}

In [15]:
type(s)

set

In [16]:
s

{2, 3, 5, 7, 32, 4356, 43556}

In [17]:
s[0]

TypeError: 'set' object does not support indexing

In [18]:
l = [2,4,5,56]

In [19]:
s = set(l)

In [20]:
s

{2, 4, 5, 56}

In [24]:
d = {"a":4, "b":6, "a":4}

In [25]:
s1 = set(d)

In [26]:
s1

{'a', 'b'}

In [27]:
t = ("Ram", "Major", "Divyansh")

In [28]:
s2 = set(t)

In [29]:
s2

{'Divyansh', 'Major', 'Ram'}

In [31]:
s3 = set(["a", "c", "d", "b"])

In [32]:
s3

{'a', 'b', 'c', 'd'}

In [33]:
s

{2, 4, 5, 56}

In [34]:
s1 = {2,3,6,7}

In [35]:
s.union(s1)

{2, 3, 4, 5, 6, 7, 56}

In [36]:
s.intersection(s1)

{2}

In [38]:
s.difference(s1)

{4, 5, 56}

In [39]:
s1.difference(s)

{3, 6, 7}

In [41]:
s.update(s1)

In [42]:
s

{2, 3, 4, 5, 6, 7, 56}

In [43]:
s.remove

Docstring:
Remove an element from a set; it must be a member.

If the element is not a member, raise a KeyError.
Type:      builtin_function_or_method

In [44]:
s

{2, 3, 4, 5, 6, 7, 56}

In [46]:
"Rahul" in s

False

In [48]:
s.remove(3)

In [49]:
s

{2, 4, 5, 6, 7, 56}

In [50]:
s1

{2, 3, 6, 7}

In [51]:
s

{2, 4, 5, 6, 7, 56}

In [52]:
s and s1

{2, 3, 6, 7}

In [53]:
s or s1

{2, 4, 5, 6, 7, 56}

In [56]:
t1 = tuple(s1)

In [57]:
t1

(2, 3, 6, 7)

In [58]:
l1 = list(s)

In [59]:
l1

[2, 4, 5, 6, 7, 56]

In [66]:
d1 = dict(s)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [69]:
d2 = dict(zip(s, s1))

In [70]:
d2

{2: 2, 4: 3, 5: 6, 6: 7}